<!DOCTYPE html>
<html>
<head>
  <title>System Information</title>
  <script>
    function addLineBreaks() {
      var element = document.getElementById("text");
      var text = element.innerHTML;
      element.innerHTML = text.replace(/\n/g, "<br>");
    }
  </script>
</head>
<body onload="addLineBreaks()">
  <pre id="text">
      <b>--------------------------------------------------------------------APPS--------------------------------------------------------------------</b>
      {{ directory }}

      <b>--------------------------------------------------------------------MEDIA--------------------------------------------------------------------</b>
      {{ media }}
  </pre>
</body>
</html>
